.services-bg {
  width: 100%;
}

.our-services {
  /* background: #1d1d1d;
  min-height: 80vh;
  width: 80%;
  opacity: 0.5; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
  padding: 0rem 6rem;
  background-image: url("../../assets/images/services-bg.png");
  width: 100%;
  min-height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.main-services-content {
  /* position: absolute; */
  /* top: 75%; */
  /* background-color: #1d1d1d; */
  /* opacity: 0.8; */
  min-height: 23vh;
  color: white;
  width: 85%;
}

.main-services-content h3 {
  color: white;
}

.service-titles {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 98%;
  color: #ffffff;
}

.service-txt {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.service-input {
  background: rgba(83, 83, 83, 0.5);
  border-radius: 0;
  border: none;
}

.service-btn {
  background-color: #ff3232;
  border-radius: 2px;
  border: none;
}
.space-h {
  height: 230vh;
}
.service-header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.success-alert {
  position: fixed;
  top: 20%;
  right: 4%;
  z-index: 90;
  background-color: rgb(104, 195, 104);
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
}

.fail-alert {
  position: fixed;
  top: 20%;
  right: 4%;
  z-index: 90;
  background-color: rgb(195, 122, 104);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.got-awesome {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-top: -70px;
}

.got-awesome-sm {
  display: none;
}

@media (max-width: 768px) {
  .got-awesome {
    font-size: 30px;
    line-height: 40px;
  }
  .service-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 30px;
  }
  .space-h {
    height: 265vh;
  }

  .service-txt {
    font-size: 13px;
  }

  .service-titles {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .got-awesome {
    display: none;
  }
  .got-awesome-sm {
    display: block;
    font-family: Montserrat;
    font-style: normal;
  }
  .main-services-content {
    position: static !important;
    margin-top: 2rem;
  }
  .space-h {
    height: 5vh;
  }

  .our-services {
    display: none;
    background-image: none;
  }
  .service-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 24px;
  }
}
