.play-btn-lg {
  position: absolute;
  top: 35%;
  left: 48%;
}

.product-sm-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}

.product-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.product-txt {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.eri {
  min-height: 85vh;
}

.feature-img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: center;
}

.wyrewolf {
  background-color: #131212;
  min-height: 85vh;
  display: flex;
  flex-direction: unset;
}

.estateAR {
  min-height: 85vh;
}

.hero-wallpaper {
  width: 100%;
}

.store-logo {
  margin-top: 1.8rem;
}
.w-img {
  width: 100%;
}

.AR-img {
  height: 50vh;
  object-fit: contain;
  object-position: center;
}
@media (max-width: 768px) {
  .play-btn-lg {
    position: absolute;
    top: 27%;
    left: 47%;
  }

  .product-sm-title {
    font-size: 30px;
  }

  .product-title {
    font-size: 30px;
  }

  .product-txt {
    font-size: 14px;
  }

  .store-logo {
    margin-top: 0.5rem;
  }

  .wyrewolf {
    padding-top: 2rem;
  }

  .estateAR {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 2000px) {
  .product-title {
    font-size: 70px;
    line-height: 79px;
  }

  .product-txt {
    font-size: 36px;
  }

  .product-sm-title {
    font-size: 50px;
  }

  .main-services-content h3 {
    font-size: 50px;
  }

  .service-titles {
    font-size: 60px !important;
  }
  .service-txt {
    font-size: 36px !important;
  }

  .service-input {
    font-size: 3.3rem;
  }

  .service-btn {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .play-btn-lg {
    position: absolute;
    top: 20%;
    left: 46%;
  }
  .product-sm-title {
    font-size: 25px;
  }
  .wyrewolf {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }
}
