.scuudu-nav {
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding: 0.5rem;
  background-color: black;
  color: #ffffff;
}

.scuudu-nav span {
  display: inline-block;
  padding: 0.5rem 2rem !important;
  cursor: pointer;
}

.logo img {
  height: 7vh;
  object-fit: contain;
  object-position: center;
}

.logo {
  cursor: pointer;
}

.scuudu-nav button {
  font-family: Comfortaa !important;
  color: #ff3232;
  border: 1px solid #ff3232;
  border-radius: 4px;
  background-color: transparent;
  /* width: 20vw; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.scuudu-nav button:focus {
  outline: none;
}
.scuudu-nav button:active {
  background-color: #ff3232;
  color: white;
}

.dropping {
  display: none;
  position: absolute;
  background-color: #131212;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white !important;
  list-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.dropping ul {
  list-style: none;
  padding: 0;
  padding: 0.4rem 1rem;
}
.dropping li {
  padding: 0.5rem 0rem;
}

.dropping li:last-child {
  padding-top: 0.5rem;
  padding-bottom: 0;
}

.dropping li:hover {
  color: #ff3232;
}
.dropper:hover {
  color: #ff3232;
}

.dropper:hover .dropping {
  display: block;
}

.colored-red {
  color: #ff3232;
  font-weight: 600;
}

.three-bars {
  display: none;
}

.big-nav {
  display: block;
}

@media (min-width: 2000px) {
  .scuudu-nav {
    display: grid;
    grid-template-columns: 7fr 4fr;
    padding: 0.5rem;
    background-color: black;
    color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .scuudu-nav {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 0.5rem;
    background-color: black;
    color: #ffffff;
  }
}

@media (min-width: 2000px) {
  .scuudu-nav {
    display: grid;
    grid-template-columns: 8fr 5fr;
    padding: 0.5rem;
    background-color: black;
    color: #ffffff;
  }

  .scuudu-nav span {
    font-size: 25px;
    padding: 0.5rem 1rem !important;
  }
}

@media (max-width: 1024px) {
  .scuudu-nav {
    display: grid;
    grid-template-columns: 3fr 6fr;
    padding: 0.5rem;
    background-color: black;
    color: #ffffff;
  }
  .scuudu-nav span {
    display: inline-block;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .three-bars {
    display: block;
    font-size: 26px;
  }

  .big-nav {
    display: none;
  }

  .scuudu-nav {
    display: grid;
    grid-template-columns: 7fr 1fr;
    padding: 0.5rem;
    background-color: black;
    color: #ffffff;
  }

  .nav-drop {
    position: fixed;
    top: 12%;
    right: 2%;
    background-color: #1d1d1d;
    padding: 1.5rem 1rem;
  }

  .small-sub-btn {
    font-family: Comfortaa !important;
    color: #ff3232;
    border: 1px solid #ff3232;
    border-radius: 4px;
    background-color: transparent;
    /* width: 20vw; */
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
  }

  .small-sub-btn:active {
    background-color: #ff3232;
    color: white;
  }
  .small-sub-btn:focus {
    outline: none;
  }
}
