.scuudu-store {
  background-color: #ffffff;
}

.first-1 {
  height: 86vh;
}

.store-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 100%;
  color: #000000;
}

.store-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.intro-store p {
  width: 80%;
}

.store-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  border-bottom: 1px solid #b4b4b4;
}

.tab-section {
}

.d-tab {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  width: 60%;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 1rem 0.3rem;
}

.selected-tab {
  border-bottom: 2px solid #ff0000;
}

.tab-content {
  min-height: 85vh;
}
.content-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-card img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.company-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #ff0000;
  border-right: 2px solid black;
}

.content-date {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.content-card p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.paginator {
  color: black;
  padding: 4rem 1rem;
}

.paginator span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 1rem;
}

.paginator span:first-child {
  padding-right: 1.5rem;
}

.current-page {
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
}

.last-1 {
  height: 86vh;
  color: black !important;
}

.last-1 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
