.footer-content {
  /* font-family: Comfortaa !important; */
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr 2fr;
}

.footer-titles {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin-top: 1.3rem;
}

.footer-list li {
  margin-bottom: 0.5rem;
}

.scuudu-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 182.5%;
  color: #ffffff;
}

.lang-dropdown {
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  width: 70%;
}

.copy-right {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 182.5%;
  color: #ffffff;
  padding-top: 4rem;
}

.footer-listings {
  border-bottom: 1px solid #3e3e3e;
}

.mx-6 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.mr-6 {
  margin-right: 5rem !important;
}

.ml-6 {
  margin-left: 5rem !important;
}

.terms-policy {
  padding-bottom: 6rem;
}

.go-up {
  position: relative;
  bottom: 30%;
  left: 95%;
  cursor: pointer;
}
