.about-bg {
  background-image: url("../../assets/images/about-bg.png");
  width: 100%;
  background-position: center;
  height: 91vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.who {
  padding-left: 5rem;
  padding-right: 5rem;
}

.who h3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.who p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 182.5%;
  color: #ffffff;
  margin-bottom: 2rem;
}

.team-mate-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 90%;
  color: #ffffff;
  margin-top: 1rem;
  text-align: center;
}

.team-role {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 90%;
  text-align: center;
  color: #ffffff;
  margin-top: 0.7rem;
}

.team-member-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 425px) {
  .empty-div {
    display: none !important;
  }
  .who {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .who p {
    font-size: 13px;
  }
  .who h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .team-mate-name {
    font-size: 19px;
  }

  .team-role {
    font-size: 13px;
  }

  .team-member-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}
